<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <span class="m-r-sm text-muted welcome-message">Welcome to Krypto.</span>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle count-info" href="#">
          <i class="fa fa-envelope"></i>
          <span class="label label-warning">0</span>
        </a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle count-info" href="#">
          <i class="fa fa-bell"></i>
          <span class="label label-primary">0</span>
        </a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle count-info" aria-expanded="false" href="#" data-toggle="dropdown">
          <i class="fa fa-user"></i> Login / Register
        </a>
        <ul class="dropdown-menu dropdown-alerts">
          <li>
            <a href="login.html">
              <div>
                <i class="fa fa-user-circle-o fa-fw"></i> Existing user?
                <span class="pull-right text-muted small">Login here</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="register.html">
              <div>
                <i class="fa fa-vcard fa-fw"></i> New to Krypto?
                <span class="pull-right text-muted small">Create account here</span>
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
