<div id="wrapper" class="skin-1">
  <div *ngIf="router.url != '/login' && router.url != '/register'">
    <app-navbar></app-navbar>
    <div id="page-wrapper" class="gray-bg">
      <app-status-bar></app-status-bar>
      <div class="wrapper wrapper-content">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  <div *ngIf="router.url == '/login' || router.url == '/register'">
    <div class="gray-bg">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
